<!-- base.html 상속 -->
{% extends "main/base.html" %}
<!-- 타이틀 정보 -->
{% block title %} notice_list.html {% endblock title %}
<!-- static 불러오기 -->
{% load myweb_filter %}
{% block content %}
<div class="row justify-content-end my-3">  <!-- 양쪽정렬 justify-content-between로 변경 -->
    <!--찾기-->
    <div class="col-4 input-group">
        <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
</div>

<table class="table">
<thead>
<tr class="text-center thead-light">
    <th>번호</th>
    <th>추천</th>
    <th style="width:50%">제목</th>
    <th>글쓴이</th>
    <th>작성일시</th>
</tr>
</thead>
<tbody>
{% if notice_list %}
    {% for notice in notice_list %}
    <tr class="text-center"> <!-- 중앙 정렬 -->
        <td>
            <!--게시글 번호 -> 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
            {{ notice_list.paginator.count|sub:notice_list.start_index|sub:forloop.counter0|add:1 }}
        </td>
        <!-- 추천 -->
        <td>
            {% if notice.voter.all.count > 0 %}
            <span class="badge badge-warning px-2 py-1">{{ notice.voter.all.count }}</span>
            {% endif %}
        </td>

        <td class="text-left"> <!-- 왼쪽 정렬 -->
            <a href="{% url 'myweb:NoDetail' notice.id %}">{{ notice.subject | truncatechars:40  }}</a>
            {% if notice.answer_set.count > 0 %}
                <span class="text-danger small ml-2">{{ notice.answer_set.count }}</span>
            {% endif %}
        </td>
        <td>{{ notice.author.username }}</td> <!-- 글쓴이 -->
        <td>{{ notice.create_date }}</td> <!--작성 날짜 및 시간-->
    </tr>
    {% endfor %}
{% else %}
<tr>
    <td colspan="3">공지사항이 없습니다.</td>
</tr>
{% endif %}
</tbody>
</table>

<!-- 페이징처리 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if notice_list.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ notice_list.previous_page_number }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in notice_list.paginator.page_range %}
    <!-- 5만큼 작은 것 부터 5만큼 큰 것 까지만 표시 -->
    {% if page_number >= notice_list.number|add:-5 and page_number <= notice_list.number|add:5 %}
        {% if page_number == notice_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if notice_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ notice_list.next_page_number }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>

{% if user.is_superuser or user.is_staff %}
<div class="d-flex justify-content-end">
    <a href="{% url 'myweb:NoCreate' %}"class="btn btn-primary">공지사항 작성</a>
</div>
{% endif %}

<!--검색, 정렬 폼-->
<form id="searchForm" method="get" action="{% url 'myweb:NoList' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() { // page-link 클릭 시 스크립트 실행
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() { // 검색버튼을 클릭하면 검색어 텍스트창에 입력된 값을 폼 kw필드에 설정하여 폼을 요청
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}
