<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}konimel19-community{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %} {% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/summernote/summernote-lite.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'myweb:home' %}">홈페이지</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"><a class="nav-link" href="{% url 'myweb:NoList' %}">공지사항</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myweb:QList' %}">QnA</a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">게시판</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'myweb:MoList' %}">영화</a>
                    <a class="dropdown-item" href="{% url 'myweb:GList' %}">게임</a>
                </div>
            </li>
            {% if user.is_superuser or user.is_admin %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a> </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <span class="navbar-text">환영합니다! {{ user.username }} 님 <a href="{% url 'login:logout' %}">로그아웃</a></span>
        {% else %}
        <span class="navbar-text">환영합니다! <a href="{% url 'login:login' %}">로그인</a> <a href="{%url 'login:SignUp' %}">회원가입</a></span>
        {% endif %}
    </div>

</nav>

{% block content %}{% endblock %}

<script src="{% static 'css/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap.min.js' %}"></script>

<script src="{% static 'css/summernote/summernote-lite.js' %}"></script>
<script src="{% static 'css/summernote/lang/summernote-ko-KR.js' %}"></script>

{% block script %}
{% endblock %}

<footer class="border-top">
    &copy;; Lee Min Hyeok 2020.
</footer>

<script type='text/javascript'>
$(document).ready(function(){
    // _create.html
    $('#summernote').summernote({
        placeholder: '',
        tabsize: 2,
        height: 400,
        lang: "ko-KR",
        toolbar: [
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['font', ['bold', 'underline', 'strikethrough', 'clear']],
            ['color', ['forecolor', 'backcolor']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['codeview', 'help']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
    });

    // _detail.html
    $(".delete").on('click', function() { // 삭제 버튼
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".recommend").on('click', function() { // 추천 버튼
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $('#hide_more_button').click(function(){ // 댓글 접기
        $('#more_comment').hide();
        $('#show_more_button').show();
        $('#hide_more_button').hide();
    });
    $('#show_more_button').click(function(){ // 댓글 펼치기
        $('#more_comment').show();
        $('#show_more_button').hide();
        $('#hide_more_button').show();
    });

    // _list.html
    $(".page-link").on('click', function() { // page-link 클릭 시 스크립트 실행
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
    $("#btn_search").on('click', function() { // 검색버튼을 클릭하면 검색어 텍스트창에 입력된 값을 폼 kw필드에 설정하여 폼을 요청
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() { // so라는 클래스를 가지고 있는 select박스의 값이 변경되면 선택된 값을 so 필드에 설정하여 폼 요청
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
    $(document).on('click','.clickAble',function() {
    window.location=$(this).data("href");
    });
});
</script>

</body>
</html>