<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Djang Web Programing{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 외부에서 CSS 가지고 올 때 사용 -->
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- myweb CSS -->
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %} {% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'myweb:home' %}">홈페이지</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"><a class="nav-link" href="{% url 'myweb:NoList' %}">공지사항</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myweb:QList' %}">QnA</a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">게시판</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'myweb:MoList' %}">영화</a>
                    <a class="dropdown-item" href="{% url 'myweb:GList' %}">게임</a>
                </div>
            </li>
            <!-- 관리자만 보이게 -->
            {% if user.is_superuser or user.is_admin %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a> </li>
            {% endif %}
        </ul>
        <!-- 유저 로그인 상태 확인-->
        {% if user.is_authenticated %}
        <span class="navbar-text">환영합니다! {{ user.username }} 님 <a href="{% url 'login:logout' %}">로그아웃</a></span>
        {% else %}
        <span class="navbar-text">환영합니다! <a href="{% url 'login:login' %}">로그인</a> <a href="{%url 'login:SignUp' %}">회원가입</a></span>
        {% endif %}
    </div>

</nav>

{% block content %}{% endblock %} <!--다른 templates 파일에 block content , <div id="content">에 관여함-->



<!-- jQuery JS -->
<script src="{% static 'css/jquery-3.5.1.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'css/bootstrap.min.js' %}"></script>

<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->

<!-- CopyLight -->
<footer class="border-top">
    &copy;; Lee Min Hyeok 2020.
</footer>

</body>
</html>