{% extends "main/base.html" %}
{% block title %} game_detail.html {% endblock title %}
{% block content %}
    <!-- 사용자 오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

    <h2 class="border-bottom ml-3 py-2">{{ game.subject }}</h2>
    <div class="row my-3">
        <!-- 질문 -->
        <div class="col-11" style="float:none; margin:0 auto">
            <div class="card">
                <div class="shadow card-body">
                    <div class="d-flex justify-content-start">
                        <h5 class="mr-2">{{ game.author.username }}</h5>
                        {% if game.modify_date %}
                        <p><small>(수정 : {{ game.modify_date | date:'Y-m-d H:i:s' }})</small></p>
                        {% else %}
                        <p><small>({{ game.create_date | date:'Y-m-d H:i:s' }})</small></p>
                        {% endif %}

                        <div class="ml-auto">
                            추천수&nbsp;:&nbsp;{{ game.voter.count }}&nbsp;
                            조회수&nbsp;:&nbsp;{{ game.hits }}
                        </div>
                    </div>
                    {% if game.upload_file %}
                    <div class="text-right">
                        <span>첨부파일&nbsp;:&nbsp;</span>
                        <a href="{% url 'myweb:GFileDownload' game.id %}" >{{ game.file_subject | truncatechars:20 }}</a>
                    </div>
                    {% endif %}

                    <div class="card-text">{{ game.content | safe }}</div>

                    <div class="d-flex justify-content-end">
                    <a href="#" data-uri="{% url 'myweb:GVote' game.id  %}" class="recommend btn btn-outline-secondary mr-2">추천</a>
                    {% if request.user == game.author %}
                        <a href="{% url 'myweb:GModify' game.id  %}" class="btn btn-outline-secondary ">수정</a>
                        <a href="#" class="delete btn btn-outline-secondary mx-2" data-uri="{% url 'myweb:GDelete' game.id  %}">삭제</a>
                    {% endif %}
                    <a href="{% url 'myweb:GList' %}"class="btn btn-outline-secondary">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom ml-3 py-2">{{ game.comment_set.count }}&nbsp;개의 댓글이 있습니다.</h5>
    <div class="row my-3">
        <div class="col-11 mt-3" style="float:none; margin:0 auto">
            <div class="shadow card">
                <div id="more_comment">
                <!-- 댓글 -->
                {% if game.comment_set.count > 0 %}
                {% for comment in game.comment_set.all %}
                <a name="comment_{{ comment.id }}"></a>
                <div class="border-bottom">
                    <div class="mx-3 my-3">
                        <div class="d-flex justify-content-start">
                            <h5 class="mr-2">{{ comment.author }}</h5>
                            {% if comment.modify_date %}
                            <p><small>(수정 : {{ comment.modify_date | date:'Y-m-d H:i:s' }})</small></p>
                            {% else %}
                            <p><small>{{ comment.create_date | date:'Y-m-d H:i:s' }}</small></p>
                            {% endif %}
                        </div>

                        <span>{{ comment.content | linebreaksbr }}</span>
                    </div>

                    {% if request.user == comment.author %}
                    <div class="d-flex justify-content-end my-3">
                        <a href="{% url 'myweb:CommentModifyGame' comment.id %}" class="btn btn-outline-secondary mr-2">수정</a>
                        <a href="#" class="delete btn btn-outline-secondary mr-3" data-uri="{% url 'myweb:CommentDeleteGame' comment.id  %}">삭제</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                </div>

                <!-- 댓글 접기, 펼치기 -->
                {% if game.comment_set.count %}
                <div id="hide_more_button" style="cursor:pointer;">
                    <a id=hide_button_count>&nbsp;댓글 접기 &middot;&nbsp;{{ game.comment_set.count }}개의 댓글<br></a>
                </div>
                <div id="show_more_button" style="display:none;cursor:pointer;">
                    <a id="show_button_count">&nbsp;댓글 펼치기 &middot;&nbsp;{{ game.comment_set.count }}개의 댓글<br></a>
                </div>
                {% else %}
                <div id="hide_more_button" style="cursor:pointer;">
                    <a id=hide_button_count><br></a>
                </div>
                <div id="show_more_button" style="display:none;cursor:pointer;">
                    <a id="show_button_count"><br></a>
                </div>
                {% endif %}

                <!-- 댓글 양식 -->
                <div class="container my-3">
                    <form action="{% url 'myweb:CommentCreateGame' game.id %}" method="post" class="my-3">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for field in form %}
                            {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-group">
                <textarea {% if not user.is_authenticated %}disabled{% endif %}
                          name="content" id="con" class="form-control" rows="2"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-secondary">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
